
//classe du nom principal du site
.site-title
{
    display: flex;
    justify-content: center;

font-family: $font__title;
font-size: clamp(1.5rem, #{'-0.875rem + 8.333vw'}, 4rem);
font-weight: bold;
color:black;
//animation en alternance du background du titre
animation: pulse 5s infinite alternate;
margin-right: 70px;
padding-right: 30px;


//aucune sourlignage sur le titre
a{
    text-decoration: none;
   
   
}



}




//Animation du background du titre changeant de couleur en 5 secondes 
@keyframes pulse{
    0% {
        background-color: #0400ff;
       
      }
   
      100% {
        background-color: #ffffff;
      
      }
}

//caractéristiques de la description du site
.site-description
{
    font-family: $font__title;
    font-size: clamp(.8rem, #{'-0.875rem + 8.333vw'}, 1.5rem);
    font-weight: bold; 
    text-align: center; 
    color:grey;
}

body.home{
    background-color:white;
    height: 100vh;
    width: 100vw;
}
 
body.home::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    //ajout d'un clip-path seulement visible en mode Desktop
    @include tablette{
        clip-path: polygon(90% 0, 150% 0, 100% 100%, 50% 100%);
        background-color:rgb(0, 0, 212);
    }
    clip-path: polygon(0% 10%, 36% 10%, 81% 50%, 80% 100%, 0% 100%);
    background-color:rgba(77, 77, 77, 0.3);
  z-index: -1;
}

.home .cours
{
    display:flex;
    flex-direction: column;

   /* section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    */
 
    
    //spécifications pour les articles vers les différents cours
    article
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color_orange_elements;
        margin-bottom: 1vh;
        border: 5px solid;
        margin-right: 60px;
        height:150px;
        //caractéristiques pour l'animation du hover des articles
        opacity: 1;
        transition:0.8s;
        //insertion du waves.io
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='auto' viewBox='0 0 1440 320'%3E%3Cpath fill='%230000d4' fill-opacity='0.2' d='M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,250.7C672,235,768,181,864,181.3C960,181,1056,235,1152,234.7C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: repeat-x;
       

        
        //ajout de la fonction clamp sur les <p>
        p{
            margin: .3rem;
            font-size: clamp(0.10rem, #{'-0.875rem + 8.333vw'}, 1rem);
            @include tablette{
                font-size: clamp(0,25rem, #{'-0.875rem + 8.333vw'}, 1rem);
            }
        }
         //ajout de la fonction clamp sur les <a>
        a{@include tablette{
            font-size: clamp(2rem, #{'-0.875rem + 8.333vw'}, 1rem);
            padding-right: none;
           
        }
        //aligner les a au centre des articles
        text-align: center;
        padding-right: 40px;
            //les "a" en gras pour une meilleure visibilité
            font-weight: bold;
            text-decoration: none;
        }
   }

   //hover sur article = opacité changeante + border size + border radius
   article:hover
    {
        //opacité de 1/2 son opacité de base
        opacity: 0.5;
        border: 10px solid black;
        border-radius: 30px;
        
    }

}