

//classe du slider de la page d'accueil
.carrousel
{
    display: flex;

    width:300vw;
    height: 20vh;
    font-size: 2rem;
    //shadow pour le slider, plus de visibilité
    -webkit-box-shadow: 9px 7px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 7px 24px 6px rgba(0,0,0,0.75);
box-shadow: 9px 7px 24px 6px rgba(0,0,0,0.75);
    
//animation du slider, déplacement en X, réalisé en 1,5 secondes
    transition: transform 1.5s;
//les différentes pages du slider sous formes de divs
    div{

        width:100vw;
    //1er div
    &:nth-of-type(1){
        background-color:$color_slider;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$color_white;
    }
    //2e div
    &:nth-of-type(2){
        background-color: $color_slider;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$color_white;
    }
    //3e div
    &:nth-of-type(3){
        background-color:  $color_slider;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$color_white;
    }
}//fin div
}

//Alignement des boutons du slider au centre de la page
.boutonsMenu{
    
  display: flex;
    justify-content: center;
    margin-top: 5px;
   

    
//Ajout de spécificités aux boutons
    button{
  
    border-radius:50% ;
    background-color: $color_white;
    border: 5px solid $color_boutons_slider;
    padding:10px;
    margin: 10px;
        
        
    }
    
       
}

